body {
    overflow-x: hidden;
}

.intro .container {
    display: flex;
    position: relative;
    height: 60vh;
}

.RHS {
    width: 60%;
}

.RHS h1 {
    font-weight: 700;
    font-size: 4em;
    color: var(--primary-color);
    margin-bottom: .5em;
}

.RHS span {
    font-weight: 700;
    color: var(--yellow-color);
}

.RHS p {
    font-weight: 400;
    font-size: 1.125em;
    color: var(--gray-color);
    width: 80%;
}

.buttons {
    margin-top: 1.5em;
}

.buttons a:nth-of-type(1) {
    background: var(--orange-color);
    font-weight: 700;
    font-size: 1.1875em;
    color: var(--white-color);
    padding-inline: 1.5em;
    padding-block: .3em;
    border-radius: 0.3125em;
    margin-left: 1em;
}

.buttons a:nth-of-type(2) {
    background: var(--secondary-color);
    font-weight: 700;
    font-size: 1.1875em;
    color: var(--lightgray-color);
    padding-inline: 1.5em;
    padding-block: .3em;
    border-radius: 0.3125em;
}

.LHS {
    display: flex;
    gap: 4em;
    position: absolute;
    left: -7%;
}

.LHS-image_1 {
    background: #12376B40;
    border-radius: 0.625em;
    width: 100%;
    padding-inline: 2em;
}

.LHS-image_1 img {
    width: 100%;
    height: 100%;
}

.LHS-image_2 {
    background: #F04B2540;
    border-radius: 0.625em;
    width: 100%;
    padding-inline: 2em;
}

.LHS-image_2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.LHS-image_3 {
    background: #286CD540;
    border-radius: 0.625em;
    width: 100%;
    padding-inline: 2em;
}

.LHS-image_3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brands {
    background: var(--secondary-color);
    padding-block: .8em;
    padding-inline: 1.8em;
    width: calc(100% - 20em);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1em;
}

@media (max-width: 1024px) {
    .hero-banner .container{
        flex-wrap: wrap;
    }
    .hero-banner-image{
        order: -1;
    }
    .hero-banner-brands{
        position: static;
        width: 100%;
        transform: none;
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
    }
    .hero-banner-brands img {
        width: calc((100% - 2em) / 2);
        height: 4em;
        /* object-fit: cover; */
    }
    .hero-banner-image {
    width: 100%;
   }
   .hero-banner-image img {
    width: 100%;
   }
}
@media (max-height: 800px) {
    .hero-banner , .hero-banner .container{
        min-height: 80vh;
    }
   .hero-banner-brands {
    bottom: 0;
   }
   
}


.body-header p {
    font-weight: 400;
    font-size: 1.125em;
    color: var(--primary-color);
    margin-bottom: .5em;
}

.body-header p::before {
    content: "";
    border: 1px solid var(--primary-color);
}

.body-header h1 {
    width: 45%;
    font-weight: 700;
    font-size: 3em;
    color: var(--primary-color);
    margin-bottom: 2em;
}

.body-header span {
    font-weight: 700;
    color: var(--yellow-color);
}

.body-images {
    display: flex;
    align-items: center;
    /* gap: 5em; */
}

.first-image {
    width: 50%;
}

.image-1 {
    background: #12376B40;
    width: fit-content;
    width: 50%;
    padding: 1em;
    border-top-right-radius: 0.625em;
    border-top-left-radius: 0.625em;
}

.image-1 img {
    width: 100%;
}

.image-1_text {
    background: var(--secondary-color);
    width: 50%;
    padding: 2em;
}

.image-1_text h1 {
    font-weight: 700;
    font-size: 1.625em;
    color: var(--primary-color);
}

.image-1_text p {
    font-weight: 400;
    font-size: 1em;
    color: var(--gray-color-card-text);
}

.second-image {
    width: 100%;
    display: flex;
    align-items: center;
}

.image-2 {
    background: var(--darkgray-color);
    width: fit-content;
    width: 60%;
    padding: 1em;
    border-top-right-radius: 0.625em;
    border-bottom-right-radius: 0.625em;
}


.image-2 img {
    width: 100%;
}

.image-2_text {
    width: 100%;
    background: var(--secondary-color);
    padding: 2.4em;
}

.image-2_text h1 {
    font-weight: 700;
    font-size: 3em;
    color: var(--primary-color);
    margin-bottom: .5em;
}

.image-2_text p:nth-of-type(1){
    font-weight: 400;
    font-size: 1.1875em;
    color: var(--gray-color-card-text);
    margin-bottom: .5em;
}

.image-2_text p:nth-of-type(2) {
    font-weight: 400;
    font-size: 1.1875em;
    color: var(--lightgray-color);
}


.blue-footer {
    position: relative;
}


.blue-background{
    margin-top: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11em;
    background: var(--blue-color);
    border-radius: 0.625em;
    height: 50vh;
}

.text-background {
    width: 35%;
}

.text-background h1 {
    font-weight: 700;
    font-size: 2em;
    color: var(--white-color);
}

.text-background p {
    margin-top: .7em;
    font-weight: 400;
    font-size: 1.125em;
    color: var(--white-color);
}

.button-background {
    margin-top: 2.5em;
}

.button-background a {
    background: var(--white-color);
    color: var(--blue-color);
    text-align: center;
    font-weight: 700;
    font-size: 1.1875em;
    display: inline-block;
    width: 30%;
    padding: .5em;
    border-radius: 0.3em;
}

.image-background img:nth-of-type(2) {
    position: absolute;
    top: -10%;
    left: 54%;
    animation: paper1 2s ease-in-out .5s infinite alternate-reverse;
}

.image-background img:nth-of-type(3) {
    position: absolute;
    top: 10%;
    left: 75%;
    width: 5%;
    animation: paper2 2s ease-in-out .5s infinite alternate-reverse;
}

.image-background img:nth-of-type(4) {
    position: absolute;
    top: 30%;
    left: 55%;
}

@keyframes paper1 {
    from {
        position: absolute;
        top: -10%;
        left: 54%;
    }

    to {
        position: absolute;
        top: 20%;
        left: 54%;
    }
}

@keyframes paper2 {
    from {
        position: absolute;
        top: 25%;
        left: 75%;
    }

    to {
        position: absolute;
        top: -10%;
        left: 75%;
    }
}

.red-footer .container {
    margin-top: 3em;
    padding: 8em;
}


.red-background {
    background: var(--orange-color);
    border-radius: 0.625em;
    padding: 5em;
    height: 65vh;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-weight: 400;
    font-size: 1em;
    color: var(--white-color);
}

.bottom-icons {
    margin-top: 1em;
    display: flex;
    gap: 2.8em;
}

.bottom-icons img {
    object-fit: contain;
}

.middle {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
}

.middle a {
    font-weight: 400;
    font-size: 1em;
    color: var(--white-color);
}

.middle h1 {
    font-weight: 700;
    font-size: 1.125em;
    color: var(--white-color);
}

.left {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
}


.left h1 {
    font-weight: 700;
    font-size: 1.125em;
    color: var(--white-color);
}

.left a {
    font-weight: 400;
    font-size: 1em;
    color: var(--white-color);
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5em;
    border-top: 1px solid white;
}

.right-side {
    margin-top: 2em;
    display: flex;
    gap: 2em;
}

.right-text_1 {
    font-weight: 400;
    font-size: 1em;
    color: var(--white-color);
}

.right-text_1::before {
    content: "";
    border: 1px solid white;
    margin-right: 2em;
}

.right-text_2 {
    font-weight: 400;
    font-size: 1em;
    color: var(--white-color);
}

.left-side {
    margin-top: 2em;
    font-weight: 400;
    font-size: 1em;
    color: var(--white-color);
}